@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --fx: flex;
    --nn: none;
    --fxd: fixed;
    --cr: center;
    --white: #FFF;
    --col: column;
    --pnt: pointer;
    --abs: absolute;
    --radius: 9999px;
    --sa: space-around;
    --green: #7ED957;
    --sb: space-between;
    --inl: inline-block;
    --black_primary: #191818;
    --shadow: 0 0 14px #7ED957;
    --borda: 2px solid #7ED957;
    --black_third:rgba(2, 2, 2, 0.94);
    --black_secundary:rgba(2, 2, 2, 0.7);
    --gst: "Geist", system-ui, sans-serif;
    --inter: "Inter", system-ui, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#menu {
    width: 97%;
    height: 4rem;
    z-index: 10;
    display: var(--fx);
    margin: 1rem 1.5rem;
    padding: .1rem 4rem;
    position: var(--fxd);
    align-items: var(--cr);
    backdrop-filter: blur(4px);
    justify-content: var(--sb);
    border-radius: var(--radius);
}

#menu.mostrar_menu_lateral #menu_options {
    opacity: 1;
    transform: translateX(0%);
}

#imgLogoMenu {
    width: 120px;
}

#menu_options {
    gap: 2rem;
    opacity: 0;
    display: var(--fx);
    transition: all .5s;
}

.option_menu_mobile {
    display: var(--nn)
}

.option_menu {
    font-size: 11pt;
    font-weight: 500;
    color: var(--white);
    font-family: var(--inter);
    text-decoration: var(--nn);
}

.option_menu:hover {
    color: var(--green);
}

.button {
    font-weight: 600;
    cursor: var(--pnt);
    color: var(--white);
    border: var(--borda);
    padding: .3rem .5rem;
    background: var(--green);
    box-shadow: var(--shadow);
    font-family: var(--inter);
    border-radius: var(--radius);
}

#nav_btns_menu {
    gap: 1rem;
    display: var(--fx);
}

.button_secundary {
    color: var(--green);
    box-shadow: var(--nn);
    background: transparent;
    border: 2px solid transparent;
}

.button_secundary:hover,
.button_secundary:active {
    color: var(--white);
    background: var(--green);
    box-shadow: var(--shadow);
}

.icon_rotate {
    transform: rotate(-45deg)
}

#nav_menu_hamburguer {
    padding: 4px;
    cursor: e-resize;
    display: var(--nn);
}

#nav_menu_hamburguer .linha_hamburguer {
    width: 35px;
    height: 4px;
    margin: 4px;
    background: var(--green);
    border-radius: var(--radius);
}

#div_btn_tablet_hamburguer {
    display: var(--nn)
}

#content_main_hero {
    width: 100vw;
    height: 100vh;
    background: var(--cr) / cover url('img/imagem.jpg') no-repeat;
}

#nav_main_text {
    height: 100vh;
    display: var(--fx);
    text-align: center;
    align-items: var(--cr);
    justify-content: var(--cr);
    backdrop-filter: blur(1px);
    background: var(--black_secundary);
}

#nav_main_text #div_content_text_nav_btns {
    gap: 1rem;
    width: 50%;
    display: var(--fx);
    align-items: var(--cr);
    flex-direction: var(--col);
}

#nav_btns_hero {
    gap: 1rem;
    display: var(--fx);
}

#title_main {
    font-size: 45pt;
    color: var(--white);
    font-family: var(--inter);
}

.div_personalizada {
    font-size: 30pt;
    padding-inline: 2px;   
    display: var(--inl);
    transform: rotate(-5deg);
    background: var(--green);
    font-family: var(--gst);
}

#text_main {
    font-weight: 200;
    color: var(--white);
    font-family: var(--inter)
}

@media screen and (max-width: 768px) {
    #menu {
        margin: 0;
        width: 100%;
        border-radius: 0;
        padding-inline: 2rem;
    }

    #imgLogoMenu {
        width: 100px;
    }
    
    #nav_logo_menu, 
    #nav_menu_hamburguer {
        z-index: 100;
    }

    #menu_options {
        top: 0;
        right: 0;
        width: 100vw;
        z-index: 10;
        height: 100vh;
        padding-top: 3rem;
        display: var(--fx);
        position: var(--abs);
        align-items: var(--cr);
        backdrop-filter: blur(6px);
        justify-content: var(--sa);
        flex-direction: var(--col);
        transform: translateX(100%);
        background: var(--black_third);
    }

    .link_btn_menu_desktop {
        display: var(--nn);
    }

    .option_menu_mobile {
        display: block;
    }

    #nav_menu_hamburguer {
        gap: 1.1rem;
        display: var(--fx);
    }

    #nav_main_text #div_content_text_nav_btns {
        width: 100%;
        padding-inline: 2rem;
    }

    #title_main {
        font-size: 30pt;
    }

    .div_personalizada {
        font-size: 22pt;;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px) {
     #menu {
        margin: 0;
        width: 100%;
        border-radius: 0;
        padding-inline: 2rem;
    }

    #imgLogoMenu {
        width: 100px;
    }
    
    #nav_logo_menu, 
    #nav_menu_hamburguer {
        z-index: 100;
    }

    #menu_options {
        top: 0;
        right: 0;
        width: 100vw;
        z-index: 10;
        height: 100vh;
        padding-top: 3rem;
        display: var(--fx);
        position: var(--abs);
        align-items: var(--cr);
        backdrop-filter: blur(6px);
        justify-content: var(--sa);
        flex-direction: var(--col);
        transform: translateX(100%);
        background: var(--black_third);
    }

    .link_btn_menu_desktop {
        display: var(--nn);
    }

    .option_menu_mobile {
        display: block;
    }

    #nav_menu_hamburguer {
        gap: 1.1rem;
        display: var(--fx);
    }

    #div_btn_mobile_hamburguer {
        display: var(--nn)
    }

    #div_btn_tablet_hamburguer {
        display: block;
    }

    #nav_main_text #div_content_text_nav_btns {
        width: 100%;
        padding-inline: 2rem;
    }

    #title_main {
        font-size: 30pt;
    }

    .div_personalizada {
        font-size: 22pt;;
    }
}

/* @media screen and (min-width: 1024px) and (max-width: 1366px) {

} */